{% extends "layout.html" %}
{% block title %}
Home
{% endblock %}
{% block content %}
<div class = "appDesc">
    <span class="desc"> Movie Recommender</span>
</div>


<div class="problems"><span> Problems</span></div>
    
    

<div class="container"> 
    <ul class="l1">
     <li>So many options - significant time spent browsing</li>
     <li>Many separate streaming services - Only recommend movies that they have available</li>
    </ul>

</div>

<div class="problems"><span> Solution</span></div>

<div class="container"> 
    <ul class = "l1">
            <li>Personalized movie recommendation system </li>
            <li>Applicable across all streaming services</li>
            <li>Accurately suggest movies to users based on user movie selections.</li>
    </ul>
    </div>

    <div class="footer">
        <p>Julia French, Vaishali Kondoju, Sharmista Kothavadla, Jamil Shaikh</p>
      </div>



{% endblock %}

