

{% extends "layout.html" %}
{% block content %}
<!DOCTYPE html> 
<div data-role="page" id="welcome" data-url="{{ url_for('recc') }}"></div>
<html> 
  <div class="directions"><span>Select your favorite movies. Between 1-5 is recommended. Then click the button.</span></div>
    <body> 
    <input type="button" value="Get Selected" onclick = "getCX()" />
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> 
    <script type="text/javascript">
      function getCX() {

          var grid = document.getElementById("movies");
   
          var checkBoxes = grid.getElementsByTagName("INPUT");
          var selectedM = []
   
          for (var i = 0; i < checkBoxes.length; i++) {
              if (checkBoxes[i].checked) {
                var currentRow = checkBoxes[i].parentNode.parentNode;
                var movID = currentRow.getElementsByTagName("td")[4];
                console.log(movID.innerText)
                selectedM.push(movID.innerText)
              }
            }
        const moviesJSON = JSON.stringify(selectedM);  
        sendData(moviesJSON)
        
      }
  </script>

  <script> 
    function sendData(data) { 
        $.ajax({ 
            url: '/process', 
            type: 'POST', 
            data: { 'data': data }, 

            success: function(result) {

              window.location.href = "suggestions";

          }
        }); 
    } 
</script> 



    
        <table id="movies" class="table" style="width:100%">
            <thead>
              <tr class="tablehead">
                  <th>Select</th>
                  <th>Title</th>
                  <th>Year</th>
                  <th>Directors</th>
                  <th>Movie ID</th>
              </tr>
            </thead>
            <tbody>
                {% for item in data %}
              <tr>
                <td><input type="checkbox" name="select" class="checkMe"></td>
                    <td>{{item[1]}}</td>
                    <td>{{item[2]}}</td>
                    <td class="directors">{{item[3]}}</td>
                    <td>{{item[0]}}</td>
              </tr>
              {% endfor %}
            </tbody>
            </table>
    </body> 
</html>
{% endblock %}






  

